<div class="screen">
    <div class="row align-items-center text-center  h-100 m-0">
        <div class="col -6 mx-auto">
            <img src="../../../../../assets/images/level-easy-one/level-easy-one-template.png">
        </div>
    </div>
</div>
<div id="1" class="section__box section__box__1" cdkDrag [cdkDragFreeDragPosition]="dragPosition[0]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-1..png">
</div>
<div id="2" class="section__box section__box__2" cdkDrag [cdkDragFreeDragPosition]="dragPosition[1]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-2..png">
</div>
<div id="3" class="section__box section__box__3" cdkDrag [cdkDragFreeDragPosition]="dragPosition[2]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-3..png">
</div>
<div id="4" class="section__box section__box__4" cdkDrag [cdkDragFreeDragPosition]="dragPosition[3]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-4..png">
</div>
<div id="5" class="section__box section__box__5" cdkDrag [cdkDragFreeDragPosition]="dragPosition[4]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-5..png">
</div>
<div id="6" class="section__box section__box__6" cdkDrag [cdkDragFreeDragPosition]="dragPosition[5]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-6..png">
</div>
<div id="7" class="section__box section__box__7" cdkDrag [cdkDragFreeDragPosition]="dragPosition[6]" (cdkDragEnded)="dragEnd($event)">
    <img src="../../../../../assets/images/level-easy-one/level-easy-one-7..png">
</div>