<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <title>Hakkımızda</title>
</head>

<body>

    <h5 id="giris">Tangram Game Manisa Celal Bayar Üniversitesi 3. sınıf öğrencileri tarafından yazılan bu oyunda 9
        level ve üç zorluk seviyesi bulunuyor.Detaylı bilgiler ve kodlar için hakkında kısmında bulunan github
        linkinden kodlara ulaşabilirsiniz.</h5>
    <div>
        <h1>PROJE TAKIMIMIZ</h1>
    </div>

    <div>
        <div class="row">
            <div class="col">
                <img src="../../../../assets/img-about/sefa.jpg" class="img-thumbnail">
                <h3>Sefa DEDEOĞLU</h3>
                <div style="text-align: center;">
                    <a href="https://github.com/SefaDedeoglu">
                        <fa-icon [icon]="github"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/sefadedeolu/">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>

                </div>





            </div>
            <div class="col">
                <img src="../../../../assets/img-about/ezgi.jpg" class="img-thumbnail">
                <h3>Ezgi Selin KILIÇ</h3>
                <div style="text-align: center;">
                    <a href="#">
                        <fa-icon [icon]="github"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/kilic_ezgi_/">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>
                </div>

            </div>
            <div class="col">
                <img src="../../../../assets/img-about/furkan2.jpg" class="img-thumbnail">
                <h3>Furkan GÜLCAN</h3>
                <div style="text-align: center;">
                    <a href="https://www.instagram.com/fawmain/">
                        <fa-icon [icon]="github"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/furkan.gulcan/">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>
                </div>

            </div>
            <div class="col">
                <img src="../../../../assets/img-about/sögüt.jpg" class="img-thumbnail">
                <h3>Furkan SÖĞÜT</h3>
                <div style="text-align: center;">
                    <a href="#">
                        <fa-icon [icon]="github"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/frknsgt/">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>


                </div>

            </div>
            <div class="col">
                <img src="../../../../assets/img-about/ceyda.jpg" class="img-thumbnail">
                <h3>Ceyda ALBAYRAK</h3>
                <div style="text-align: center;">
                    <a href="#">
                        <fa-icon [icon]="github"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/ceyda_albayrak5/">
                        <fa-icon [icon]="instagram"></fa-icon>
                    </a>
                </div>


            </div>

        </div>

    </div>
    <div id="sonuc">
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero commodi quod. Laborum sequi blanditiis
            error at saepe nihil quibusdam quam beatae quaerat dolorum quod minima fugit dicta facilis quisquam
            obcaecati accusamus iure, tenetur, dolore animi qui atque reiciendis. Maxime tenetur, iure dolorem culpa
            recusandae nulla cumque deserunt sint dignissimos necessitatibus incidunt! Sit iusto mollitia animi delectus
            voluptate dolorem laborum cumque magni doloribus, voluptatum a dolore aperiam molestias cum omnis nesciunt
            voluptates tempora. Maiores ut voluptate quam laborum autem iusto, totam quisquam fugiat cupiditate minus
            hic odio porro impedit aliquid dolore, id quis! Ipsum et a culpa numquam quibusdam earum.</h6>
    </div>


</body>

</html>