<div class="bg-color w-100"></div>
<div class="container py-5">
    <h6 class="text-center">Tangram Game Manisa Celal Bayar Üniversitesi 3. sınıf öğrencileri tarafından yazılan bu
        oyunda 9
        level ve üç zorluk seviyesi bulunuyor.Detaylı bilgiler ve kodlar için hakkında kısmında bulunan github
        linkinden kodlara ulaşabilirsiniz.</h6>
    <h1 class="text-center">PROJE TAKIMIMIZ</h1>
    <div class="row">
        <div class="col text-center mx-auto" *ngFor="let person of persons">
            <img src="{{person.ImagePath}}" class="rounded-circle user-img">
            <div class="text-center name py-2 mt-2">
                <h3>{{person.Name}}</h3>
                <p class="text-muted">{{person.Description}}</p>
            </div>
        </div>
    </div>
    <h1 class="mt-3 text-center">Kullanılan Teknolojiler</h1>
    <div class="row">
        <div class="col-sm-6 col-12">
            <h6><b>Angular:</b> Projenin tasarımında ve geliştirilmesinde framework olarak kullanılmıştır.</h6>
            <h6><b>Adobe Fireworks:</b> Projede ki level fotoğraflarının tasarımları bu uygulama ile çizilmiştir.</h6>
        </div>
        <div class="col-sm-6 col-12 border-left border-secondary">
            <h6><b>Firebase:</b> Projede oluşturulan level bilgileri firebase adlı realtime olarak çalışan bir
                database'den çekilmiştir.</h6>
            <h6><b>DragDrop:</b> Fotoğrafları sürükle bırak özelliği tanımlamak için kullanılan bir kütüphanedir. Bu
                kütüphane Angular frameworkünün MatDragDrop kütüphanesinden çekilmektedir.</h6>
        </div>
    </div>
</div>