<div class="container-fluid">
    <div class="row">
        <div class="box">
            <div class="icon">
                <img class="tangram-icon" src="../../../../assets/images/tangram-icon/tangram_icon.png">
            </div>
            <div class="yazi1 px-3 py-2 text-center mx-auto">TANGRAM OYUNUNA HOGELDİNİZ</div>
            <div class="button" [routerLink]="['levels']">
                <div class="outer">
                    <div class="height">
                        <div class="inner">
                            <span class="title">LEVELLER</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button " [routerLink]="['about']">
                <div class="outer">
                    <div class="height">
                        <div class="inner">
                            <span class="title">HAKKIMIZDA</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button " [routerLink]="['help']">
                <div class="outer">
                    <div class="height">
                        <div class="inner">
                            <span class="title">YARDIM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>