<div class="selection">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col text-center p-3 m-3 levels__btn">
        <a (click)="openGame(1)">
          <span>Level 1 </span>
        </a>
      </div>
      <div class="col text-center p-3 m-3 levels__btn">
        <a (click)="openGame(2)">
          <span>Level 2 </span>
        </a>
      </div>
      <div class="col text-center p-3 m-3 levels__btn">
        <a (click)="openGame(3)">
          <span>Level 3</span>
        </a>
      </div>
    </div>
  </div>
</div>
