<div class="container-fluid">
<div class="row">
    <div class="box">
        <div class="icon">
            <img class="tangram-icon" src="../../../../assets/images/tangram-icon/tangram_icon.png">
        </div>
        <div class="container">
            <div class="yazi1">Tangram Game</div>
        </div>
        <div class="button">
            <div class="outer">
                <div class="height">
                    <div class="inner">
                      <span class="title">LEVELLER</span>  
                    </div>
                </div>
            </div>
        </div>
        <div class="button " >
            <div class="outer">
                <div class="height">
                    <div class="inner">
                      <span class="title">HAKKIMIZDA</span>  
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>


