
<div class="selection"></div>
<a href="#" id="button1">
    <span>Easy <img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"></span>
</a>
<audio preload="auto">
    <source   type="audio/mp3" />
    <source  type="audio/ogg" />
</audio>

<a href="#" id="button2">
    <span>Medium <img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"><img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"></span>
</a>
<audio preload="auto">
    <source   type="audio/mp3" />
    <source  type="audio/ogg" />
</audio>

<a href="#" id="button3">
    <span>Hard <img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"><img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"><img style="margin-top: -10%;" src="../../../../../assets/images/star/star.png"></span>
</a>
<audio preload="auto">
    <source   type="audio/mp3" />
    <source  type="audio/ogg" />
</audio>
